
.front {
    @extend .face;
    z-index: 2;
    transform: rotateY(180deg);
    left: 2px;

    background-color: white;
    color: black;

    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;

    display: flex;
    flex-direction: column;

    &:before, &:after {
        font-size: xx-large;
        display: block;
        margin: 0.1em;
        text-align: left;
        flex: 1;
    }

    &:after {
        transform: rotateZ(180deg);
    }
}

.spades, .clubs {
    color: black;
}

.diamonds, .hearts {
    color: red;
}

.hearts:before, .hearts:after {
    content: "♥";
}

.diamonds:before, .diamonds:after {
    content: "♦";
}

.clubs:before, .clubs:after {
    content: "♣";
}

.spades:before, .spades:after {
    content: "♠";
}

