.table {
    @include flex-item(15);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .opponents, .shared, .player {
        //border: $dashed;
        @include flex-item(1);
        @include flex(row);
    }

    .opponents {
        .opponent {
            @include flex-item(1);
            margin: 0.5em;
            
            @include flex(column);
            .hand {
                @include flex(row);
                .card-slot {
                    margin: 0.5em;
                }
            }

        }


    }

    .player {
        .commands {
            @include flex-item(1);
            @include flex(row);
            height: 100%;

            button {
                min-width: 20em;
                min-height: 10em;
                border: 2px solid $fg-color;
                background-color: lighten($bg-color, 10%);
                color: $fg-color;

                &:hover {
                    background-color: lighten($bg-color, 15%);
                }
            }
        }
        .hand {
            @include flex-item(1);
            @include flex(row);

            .card-slot {
                margin: 0.5em;
            }
        }
    }

    @import "card";

}
