@import "base";

$bg-color: #355e3b;
$fg-color: white;
$dashed: 2px dashed $fg-color;
$card-measure: 1vh;
$card-scale: 5;
$card-width: $card-scale * 2.5 * $card-measure;
$card-height: $card-scale * 3.5 * $card-measure;

$colors: ('red', 'green', 'blue', 'yellow');
$colors-hex: ('#ffaaaa', '#aaffaa', '#aaaaff', '#ffffaa');

@for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    $color-hex: nth($colors-hex, $i);

    .#{$color} {
        color: unquote($color-hex);
    }
}

.error {
    color: red;
}

body {
    background-color: $bg-color;
    color: $fg-color;

    @include flex(column);

    @import "table";

    #log {
        @include flex-item(2);
        border-top: $dashed;
        padding: 1em;
    }

    #form {
        @include flex-item(1);
        display: flex;
        flex-direction: row;

        input {
            border: 2px solid $fg-color;
            background-color: lighten($bg-color, 10%);
            color: $fg-color;

            &:hover {
                background-color: lighten($bg-color,15%);
            }
        }

        input#text-input {
            flex: 5;
            padding: 0.5em;

        }

        input[type="submit"] {
            flex: 1;

        }
        

    }
}
